:root{
  --dark-cyan: hsl(158, 36%, 37%);
  --cream: hsl(30, 38%, 92%);

  --very-dark-blue: hsl(212, 21%, 14%);
  --dark-grayish-blue: hsl(228, 12%, 48%);
  --white: hsl(0, 0%, 100%);

  --font-headings: 'Fraunces', serif;
}

*{
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Montserrat', sans-serif;
  background-color: var(--cream);
}

.main{
  max-width: 800px;
  min-height: 760px;
  height: 100vh;
  width: 90%;
  margin: 0 auto;
  display: grid;
  align-content: center;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

  animation: fade .8s .6s both ease-in;
}

@keyframes fade{
  0%{ 
    opacity: 0; 
  }
  100%{
    opacity: 1;
  }
}

.main_bg{
  border-radius: 10px 10px 0 0;
  min-height: 250px;
  height: 100%;
  background-image: url('./images/image-product-mobile.jpg');
  background-size: cover;
  background-position: center;
}

.main_texts{
  background-color: var(--white);
  padding: 1.5em 2em;
  border-radius: 0 0 10px 10px;
}

.main_product{
  text-transform: uppercase;
  letter-spacing: 6px;
  color: var(--dark-grayish-blue);
}

.main_title{
  font-family: var(--font-headings);
  font-size: 2rem;
  margin: .8rem;
}

.main_paragraph{
  line-height: 1.5;
  margin-bottom: 1.8em;
  color: var(--dark-grayish-blue);
}

.main_price{
  display: flex;
  align-items: center;
  gap: 1em;
  font-size: 1.8rem;
  color: var(--dark-cyan);
  font-family: var(--font-headings);
  letter-spacing: 2px;
}

.main_sold{
  color: var(--dark-grayish-blue);
  font-size: initial;
  font-family: 'Monserrat', sans-serif;
  text-decoration: line-through;
  gap: 1em;
}

.mian_cta{
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
  justify-content: center;

  margin-top: 1.5em;
  padding: 1em 0;
  text-decoration: none;
  color: aliceblue;
  border-radius: 8px;
  background-color: var(--dark-cyan);
}

.main_cta::before{
  content: url('./images/icon-cart.svg');
}

@media(min-width: 667px){
  .main_bg{
    border-radius: 10px 0 0 10px;
  }

  .main_texts{
    border-radius: 0 10px 10px 0;
  }
}